{% extends "base.html" %}
{% load static %}
{% block title %}About Me{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about_me.css' %}" />
{% endblock %} 
{% block content %}
<!-- HEADER -->
<section class="header-section">
    <h1 class="display-text"> {{ settings.hero_title }}</h1>
    <p style="font-size: 1.5rem; color: var(--text-muted); margin-top: 20px; max-width: 700px;">{{ settings.hero_subtitle }}</p>
</section>

<!-- FULL-WIDTH IMAGE -->
 {% if settings.hero_image %}
<div class="image-full-width">
<img src="{{ settings.hero_image.url }}" alt="Hero Image">
</div>
{% endif %}

<!-- CONTENT & TIMELINE -->
<section class="content-layout section-padding">
    <aside class="sidebar">
        <h3>My Journey</h3>
        <div class="timeline">
            {% for item in profile.journeys.all %}
            <div class="timeline-item">
                <h4>{{ item.title }}</h4>
                <p>{{ item.start_year }} - {{ item.end_year }}:</p> 
                <p>{{ item.description }}</p>
            </div>
            {% endfor %}
        </div>

        <h3 style="margin-top: 40px;">Core Values</h3>
        <ul style="font-size: 1.1rem; line-height: 2;">
            {% for value in profile.values.all %}
                <li>✓ {{ value.title }}</li>
            {% endfor %}
        </ul>
    </aside>
    <article class="main-content">
        <div class="section-title">My Philosophy</div>
        <div>{{ profile.philosophy }}</div>
        <a href="{% url 'contact' %}" class="btn-link" style="margin-top: 20px;">Get in Touch Today &rarr;</a>
    </article>
</section>
{% endblock %}
