{% extends "base.html" %}
{% load static %}
{% block title %}Submit Testimonial{% endblock %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/testimonial_submit.css' %}" />
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}
<header class="testimonial-hero">
  <div class="section-title" style="justify-content: center;">Share Your Experience</div>
  
  <h1 class="display-text">
      {{ page_settings.submit_heading }}
  </h1>

  <p>
      {{ page_settings.submit_subheading }}
  </p>
</header>

<section class="testimonial-form-wrapper">
    <form method="post" id="testimonialForm">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == "project" %}
                {% if not project %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% elif field.name == "rating" %}
            <div class="form-group rating-group">
                <label>{{ field.label }}</label>
                <div class="rating-stars">
                    {% for subfield in field %}
                        {{ subfield.tag }}
                        <label for="{{ subfield.id_for_label }}"></label>
                    {% endfor %}
                </div>

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}

                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>

            {% else %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.help_text %}
                        <small class="form-text text-muted">
                            {{ field.help_text }}
                        </small>
                    {% endif %}

                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="submit-btn">
            Submit My Testimonial →
        </button>
    </form>
</section>


{% endblock %}
